.hero-hover-details{

    max-height:0;
    overflow:hidden;
    opacity:0;

    margin-top:0;

    transition:.25s;
}

.hero-market-item:hover .hero-hover-details{

    max-height:260px;
    opacity:1;

    margin-top:18px;
}

.hero-hover-details p{

    color:rgba(255,255,255,.72);

    font-size:.95rem;
    line-height:1.55;

    margin-bottom:8px;
}
